* {
  padding: 0;
  margin: 0;
}

.box {
  font-size: 48px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.b1 {
  background-color: teal;
}
.b2 {
  background-color: tan;
  position: static;
  top: 100px;
}
.b3 {
  background-color: orange;
}
.b4 {
  background-color: aquamarine;
}
