* {
  padding: 0;
  margin: 0;
}

#parent {
  background-color: grey;
  height: 500px;
  width: 500px;
  position: relative;
}

.box {
  font-size: 48px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.b1 {
  background-color: teal;
}

.b2 {
  background-color: tan;
  /* element doesn't remain part of document flow */
  /* the elements after takes its place */

  /* element moves in relation to viewport (by default) but can be forced to move in relation to its parent by giving
  its parent a position (preffered position relative) */
  position: absolute;
  bottom: 0;
  right: 0;
}
.b3 {
  background-color: orange;
}
.b4 {
  background-color: aquamarine;
}
